<div class="container__big-card">
    <div class="big-card__photo">
        <img
            src="https://get.pxhere.com/photo/flower-cute-green-frog-amphibian-toy-sit-textile-fun-funny-plush-stuffed-animal-kermit-frogs-soft-toy-not-hear-not-see-do-not-speak-stuffed-toy-398848.jpg">
    </div>
    <div class="big-card__title">
        <h1>Saiu a nova versão do Angular!</h1>
    </div>
    <div class="big-card__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius eos tempore illo
            illum et, earum quisquam aspernatur cupiditate laudantium inventore! Error laborum eos inventore eaque ad
            suscipit rem unde ex!</p>
    </div>
</div>